.dashboard {
  padding: 12px;
  background: #f7f8fc;
  min-height: calc(100vh - 90px);
}

/* HERO */

.hero-section {
  height: 210px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background: url("src/assets/images/dashboard_image/hero_Image.jpg")
    center/cover no-repeat;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(2px);
  padding: 20px 30px;
}

.hero-overlay h1 {
  font-size: 28px;
  font-weight: 600;
  color: #222;
  line-height: 1;

}

.hero-overlay span {
  color: #7c4dff;
}

/* SEARCH */

.search-box {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 12px;
  background: #fff;
  border-radius: 18px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  padding: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.search-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-item label {
  font-size: 11px;
  color: #888;
}

.search-item p {
  font-size: 12px;
  font-weight: 500;
}

.search-btn {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 12px;
  background: #7c4dff;
  color: #fff;
  cursor: pointer;
}

/* STATS */

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 15px;
}

.stat-card {
  background: #fff;
  border-radius: 16px;
  padding: 14px;
  box-shadow: 0 5px 15px rgba(0,0,0,.05);
}

.stat-card h5 {
  font-size: 12px;
  color: #777;
}

.stat-card h2 {
  font-size: 22px;
  margin: 5px 0;
}

.stat-card span {
  font-size: 12px;
  color: #6c63ff;
}

/* MAIN GRID */

.dashboard-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  margin-top: 15px;
  align-items: start;
}

/* COMMON CARD */

.section-card {
  background: #fff;
  border-radius: 18px;
  padding: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,.05);
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.section-header h3 {
  font-size: 16px;
  font-weight: 600;
}

.section-header a {
  text-decoration: none;
  color: #6c63ff;
  font-size: 12px;
}

/* LEFT SIDE */

.left-side {
  width: 100%;
}

.left-side .section-card {
  min-height: 260px;
}

/* TRIPS */

.trip-card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
}

.trip-card img {
  width: 90px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.trip-card h4 {
  font-size: 14px;
  margin-bottom: 4px;
}

.trip-card p {
  font-size: 12px;
  color: #666;
}

.status {
  margin-left: auto;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 11px;
}

.confirmed {
  background: #dff6e5;
  color: #14a44d;
}

.pending {
  background: #fff2d8;
  color: #ff9800;
}

/* RIGHT SIDE */

.right-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* DESTINATIONS */

.destinations {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.destination {
  position: relative;
}

.destination img {
  width: 90px;
  height: 75px;
  border-radius: 12px;
  object-fit: cover;
}

.destination span {
  position: absolute;
  bottom: 6px;
  left: 6px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
}

/* OFFER */

.offer-card {
  padding: 12px;
}

.offer-card img {
  width: 100%;
  height: 70px;
  object-fit: cover;
  border-radius: 12px;
  margin-top: 8px;
}

.discount {
  display: inline-block;
  margin-top: 8px;
  padding: 3px 8px;
  border-radius: 6px;
  background: #6c63ff;
  color: #fff;
  font-size: 10px;
}

.offer-details h4 {
  font-size: 13px;
  margin-top: 6px;
}

.offer-details h2 {
  font-size: 18px;
  color: #6c63ff;
  margin-top: 3px;
}

/* MOBILE */

@media (max-width: 992px) {
  .search-box {
    position: static;
    grid-template-columns: 1fr;
    gap: 12px;
    margin-top: 15px;
  }

  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .dashboard-grid {
    grid-template-columns: 1fr;
  }

  .hero-section {
    height: auto;
  }

  .destination img {
    width: 100%;
    height: 100px;
  }
}